body {
    background-image: url("images/Cybe.jpg");
    background-size: 100% 100%;
    color: white;
}

.sercur {
    padding: 20px;
    max-width: 600px;
    background: rgba(0,0,0, 0.65);
}
.title{
    text-align: center;
}
.samme{
    text-align: center;
}